@import url('https://fonts.googleapis.com/css2?family=Kaisei+Tokumin:wght@400;500;700&family=Poppins:wght@300;400;500&display=swap');

:root {
    --lg-font: 'Kaisei Tokumin', serif;
    --sm-font: 'Poppins', sans-serif;
    --pink: #e5345b;
}

body {
    font-family: var(--sm-font);
}

/* button */
.bg-primary {
    background-color: var(--pink) !important;
}

.btn:not(.nav-btns button) {
    background-color: #fff;
    color: rgb(85, 85, 85);
    padding: 10px 28px;
    border-radius: 25px;
    border: 1px solid rgb(85, 85, 85);
}

.btn:not(.nav-btns button):hover {
    background-color: var(--pink);
    color: #fff;
    border-color: var(--pink);
}

/* text color*/
.text-primary {
    color: var(--pink) !important;
}

/* Navbar */

.navbar {
    box-shadow: 0 3px 9px 3px rgba(0, 0, 0, 0.1);
}

.navbar-brand img {
    margin-left: 11px;
}

.navbar-brand span {
    letter-spacing: 2px;
    font-family: var(--lg-font);
}

.nav-link:hover {
    color: var(--pink) !important;
}

.nav-item {
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.05);
}

.mob-phone{
    font-family: 'jost';
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 43.78%;
    color: #000000;
    letter-spacing: 0.12em;
    display: inline-flex;
    align-items: center;
}

/* header */
#header {
    background: url(../img/clothRepair.jpg) top/cover no-repeat;
    
}

.carousel-inner h1 {
    font-size: 60px;
    font-family: var(--lg-font);
}

.carousel-item .btn {
    border-color: #fff !important;
}

.carousel-item .btn:hover {
    border-color: var(--pink) !important;
}

/* Header Modal*/
.modal-header{
    background-color: #e5345b;
}
#myModal h5{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#myModal .btn-close{
    border-radius: 50%;
}

#myModal p{
    font-family: var(--sm-font);
}

#myModal i{
    position: absolute;
    margin-top: 26px;
    left: 50px;
}

#myModal input{
    height: 70px;
    padding-left: 56px;
    border-radius: 50px;
    border: 2px solid #e5345b;
    background: #F8FAFD;
    display: block;
    margin-top: 24px;
}

/* Title*/
.title h2::before {
    position: absolute;
    content: "";
    width: 4px;
    height: 50px;
    background-color: var(--pink);
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
}


/*Order & Question*/
#orderQuestion textarea{
    margin-top: 20px;
}
.accordion-item{
    margin-top: 20px;
}
.accordion-button{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.accordion-button:not(.collapsed) {
    color: var(--pink)!important;
    background-color: #000000;
    box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}

.accordion-button:not(.collapsed)::after{
    filter: brightness(0%) invert(100%);
}